consumer-key: ""
consumer-secret: ""
host: irc.freenode.net
nickserv: ""
nickname: b3TwitterTest
oauth-secret: ""
oauth-token: ""
owner: "blha303"
port: 6667
twusers: {blha303: "#blha303", notch‎: "##b3test"}
